body {
	display: grid;
	place-content: space-evenly;
	
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-gap: 25px;
}

/*
=====Navigation Bar=====
---Center---
*/
nav
{
	font-size: 1.2em;
	grid-column: span 2;
	grid-row: 1;
	place-self: center;
	text-align: center;
	place-self: stretch;
}

/*
======Section=====
---Center---
*/
section
{
	font-size: 1.3em;
	margin: auto;
	grid-column: span 2;
	grid-row: 2;
	place-self: stretch;
	text-align: center;
}

/*
======Footer=====
---Bottom---
*/
footer
{
	font-size: 1.2em;
	grid-column: span 2;
	grid-row: 3;
	place-self: stretch;
}

.icon
{
	width: 100px;
	height: 100px;
}